#RewriteRule ^$ /views/dashboard/ [L]
# remove www
#RewriteCond %{HTTP_HOST} ^www\.(.+)$ [NC]
#RewriteRule ^ http://%1%{REQUEST_URI} [NE,R=301,L]
#
##RewriteCond %{HTTP_HOST} ^(www\.)?domain\.com$
#RewriteRule !^views/ ^$ /%{REQUEST_URI}/views/dashboard/index.html  [L]

#RewriteBase /windesheim/KBS-groep-2/
#
#RewriteRule ^Views/(.*)$ /$1 [L,NC,R]

#<IfModule mod_rewrite.c>
#    <IfModule mod_negotiation.c>
#        Options -MultiViews
#    </IfModule>
#
#    RewriteEngine On
#
#    # Redirect Trailing Slashes If Not A Folder...
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteRule ^(.*)/$ /$1 [L,R=301]
#
#    # Handle Front Controller...
#    RewriteCond %{REQUEST_FILENAME} !-d
#    RewriteCond %{REQUEST_FILENAME} !-f
#    RewriteRule ^ index.php [L]
#</IfModule>









#
#RewriteEngine on
##RewriteBase /
#
##RewriteRule ^/views/(.+)$ /$1 [QSA]
#
##RewriteRule ^views/(.*)$ /views/$1 [L]
#
#RewriteRule (.*)views/(.*) $1/$2
#
#RewriteCond %{REQUEST_FILENAME}.php -f
#RewriteRule !.*\.php$ %{REQUEST_FILENAME}.php [QSA,L]